{
  "plugins": [
    "add-module-exports",
    "syntax-trailing-function-commas",
    "transform-async-to-generator",
    "transform-es2015-modules-commonjs",
    "transform-flow-strip-types",
    "transform-function-bind",
  ],
}
